# Used by docker-compose for the client build args
VITE_API_URL=http://localhost:5000/api
VITE_SOCKET_URL=http://localhost:5000
VITE_WALLETCONNECT_PROJECT_ID=a7f1ec4028ebcf6c2ee7a2c694267244

FLASK_APP=run.py
FLASK_ENV=production

SECRET_KEY=         #change-this-to-a-long-random-string
JWT_SECRET_KEY=     #change-this-to-a-different-long-random-string

DB_USER=postgres
DB_PASSWORD=bhavesh10032022
DB_HOST=localhost
DB_PORT=5432
DB_NAME=kinesis

REDIS_HOST=127.0.0.1
REDIS_PORT=6379


ADMIN_WALLET_ADDRESS=

OPENAI_API_KEY=

RAZORPAY_KEY_ID=rzp_test_T0Cw2EMwRVheb5
RAZORPAY_KEY_SECRET=VuuZnIt4jjQZQk5Ga9U1gExh
ODDS_API_KEY=f96cc822b1b14bd0890d76da01f3c9bb
